body {
  margin: 0;
  padding: 0;
}

/*background image with blended color*/
header {
  width: 100%;
  height: 500px;
  background-image: url(images/waves.jpeg);
  background-position: top;
  background-repeat: none;
  background-color: #5bc7f0;
  background-blend-mode: multiply;
}

/*override webkit on ul*/
nav ul {
  margin-top: inherit;
}

nav ul li {
  display: inline-block;
  margin-top: 40px;
  font-family: Ubuntu, sans-serif;
  font-size: 1em;
  color: darkgray;
}

/*center & size the header & footer navs*/
nav {
  width: 75%;
  margin: auto;
}

/*set position of left header & footer navs*/
.hotspot {
  position: absolute;
  padding-left: 0;
}

#logo img {
  margin-top: -30px;
}

/*set position of right header & footer navs*/
.coldspot {
  text-align: right;
}

.coldspot ul{
  padding-left: 0;
}

li a {
  text-decoration: none;
  color: darkgray;
}

/*class to ease positioning & keep 'DRY'*/
.callout {
  text-align: center;
}

.callout li {
  display: inline-block;
  font-family: Ubuntu, sans-serif;
}

.big-brand {
  font-size: 6em;
  color: white;
  margin-top: 125px;
}

.small-brand {
  font-size: 1em;
  color: #837d7d;
}

.moar-posts {
  font-size: 3em;
  color: #063040;
  margin-top: 150px;
}

section.container {
  width: 75%;
  margin: 100px auto 100px auto;
}
/*
.cols {
  vertical-align: top;
  display: inline-block;
}
*/

.cols {
  vertical-align: top;
  display: inline-block;
}

.post-content {
  width: 64%;
}

.sidebar {
  width: 24%;
  padding-left: 70px;
}

@media (min-width: 400px) and (max-width: 400px) {
  #breadcrumb {
    display: none;
  }
}
@media (min-width: 400px) and (max-width: 400px) {
  .coldspot {
    text-align: center;
    padding-left: 0;
  }
}
@media (min-width: 400px) and (max-width: 400px) {
  #logo {
    padding-top: 80px;
    padding-left: 120px;
    text-align: center;
  }
}
@media (min-width: 400px) and (max-width: 400px) {
  .big-brand {
    font-size: 2em;
    margin-top: 80px;
  }
}

@media (min-width: 400px) and (max-width: 400px) {
    header {
      height: 260px;
    }
}
